@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #FFF;
  --color-red: #DC3545;
  --color-yellow-light: #DBC170;
  --color-yellow: #B8952E;
  --color-yellow-dark: #846F2E;
  --color-gray-100: #F5F4F5;
  --color-gray-200: #B2AFB6;
  --color-gray-300: #98959D;
  --color-gray-400: #7A767F;
  --color-gray-500: #3E3C41;
  --color-gray-600: #2E2C30;
  --color-gray-700: #232225;
  --color-gray-800: #19181B;
  --color-gray-900: #050505;

  --font-sans: "Catamaran", sans-serif;

  --webkit-scrollbar:w-2
  --webkit-scrollbar-track:rounded-none
  --webkit-scrollbar-track:bg-gray-100
  --webkit-scrollbar-thumb:rounded-none
  --webkit-scrollbar-thumb:bg-gray-300
}

/* ===== SCROLLBAR GLOBAL ===== */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--color-gray-700);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-600);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-500);
}